h1 {
    text-align: center;
}

body {
    text-align: center;
}

/* form {
    display: inline-block;
} */

#searchbar {
    display: inline-block;
    width: 50%;
    height:40%;
    border-radius: 3px;
}


#getStatement {
    display: inline-block;
    cursor:pointer;
}
#getFood {
    display: inline-block;
    cursor:pointer;
}
#getRndFood {
    display: inline-block;
    cursor:pointer;
}